<div class= "home-message">
  <div class="title"> 100 Things </div>
  <h3> What's this site all about??</h3>
</div>
<div class ="container-fluid home">
<p> Ever been bored, unemployed, curious?? Whatever the case may be, I'm sure you have and I bet you wish you could fill the void with a randomly inspiring activity.  Instead of peering through a long list of things to do, which can sometimes seem daunting and result in inaction; I built this site so you could try your luck at <%=link_to "any activity", "tasks#index"%>.  Just give it a shot.  You may like the activity, you may hate it.  It may get your wheels turning and end up doing a variation.  You may like or hate it but, at least you'll know and at least you'll have learned something from it.  If nothing else, you'll have something to talk about at your next party."  </p>

<p style="font-style:italic;"> **List is still a work in progress. Not quite at 100 items yet </p>
</div>
