<div class= "home-message">
  <h2> What's this site all about??</h2>
</div>
<div class ="container-fluid home">
<p> Ever been bored with life, unemployed, stagnant, curious?? Whatever the case may be, I'm sure many have had thoughts like: "Man I wish I could just learn __, or I've always wanted to try ___". I'm sure you have.  Choosing an activity from a list can seem daunting and result in inaction.  I built this site so you could try your luck at <%=link_to "any activity", "tasks#index"%>.  Just give it a shot.  You may like it, you may hate it.  However, at least you'll know and at least you'll have learned something from it.  If nothing else, you'll have something to talk about at your next party."  </p>
</div>
