/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.title{
  font-size: 60px;
  font-family:  papyrus;
  font-style: italic;
  color: white;
  margin: 2%;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px blue, 1px 0 5px black;
}
.navbar-item {
  &:hover {
    font-size: larger;
    font-style: italic;
  }
}

.container-fluid.home {
  padding: 3% 10%;
}
.home-message {
  text-align:center
}
.alltask{
  margin:5%;
}
 @keyframes example1 {
     from {font-size: xx-small; font-style: none}
     to {font-size: xx-large; font-style: italic;}
     from {background-color: white; color: black;}
     to {background-color: navy;}
 }

 @keyframes example2 {
     from {display: none;}
     to {display: block}
 }

.randomtask{
  animation-name: example1;
  animation-duration: 3s;
  color: white;
  background-color: navy;
  font-size: xx-large;
  font-style: italic;
}

.goodstuff {
  padding: 5% 10%;
}

#category {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 1rem;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  &:hover {
    background: linear-gradient(red, yellow);
    padding: 1.2rem;
    transition: 0.4s;
    border-radius: 10px;
    transition: .5s;
    margin-bottom: 1rem;
    
  }
  &:active {
    border-radius: 10px;
    background-color: maroon;
  }
}
