<h1> Welcome to the Home Page</h1>

<h2> What's this site all about??</h2>
<p> Ever just been bored with life, unemployed, stagnant, curious?? Whatever the case may be, I'm sure the thought came across many minds that "Man I wish I could just learn __, or I've always wanted to try ___". I'm sure you have and I'm also sure that the item which you are seeking may seem daunting at first.  I am a firm believer that just doing any activity will allow your wheels to turn so to speak.  I built this site so you could try your luck at any activity.  Just give it a shot.  You may like it, you may hate it.  However, at least you'll know and at least you'll have learned something from it.  If nothing else, you'll have something to talk about at your next party."  </p>
